.cardBody {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .newUser {
    border: 3px solid rgba(34, 139, 34, 0.6);
    max-width: fit-content;
    padding: 12px 16px;
    background-color: rgba(70, 130, 180, 0.3);
    margin: auto;
    color: #8b0000;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px
  }  